#!/usr/bin/perl

use Data::Dumper::Perltidy;
use Getopt::Long;
use Perl6::Say;
use Pod::Usage;
use autodie;
use strict;
use warnings;

sub man {#{{{
	pod2usage(
		-exitval => 1,
		-verbose => 2
	);
}#}}}

# main
GetOptions (
	'man' => \&man,
);

__END__#{{{

=head1 NAME


=head1 SEE ALSO


=head1 SYNOPSIS


=head1 DESCRIPTION

=head1 AUTHOR

Raimon Grau Cuscó <rgrau@intelligentpharma.com>

=head1 Credits

=cut

# vim: set tabstop=4 shiftwidth=4 foldmethod=marker : ###}}}
